PORT=3001
HOST=0.0.0.0
PUBLIC_URL=http://localhost:3001
ADDON_INSTALL_TOKEN=replace-with-at-least-32-random-characters
ADDON_ADMIN_TOKEN=replace-with-a-separate-random-admin-token
ADDON_STORAGE_ENCRYPTION_KEY=replace-with-at-least-32-random-characters
ADDON_STORAGE_PATH=./data/installations.enc
